.w3-tangerine {
	font-family: "Tangerine", serif;
}
.fon {
	font-family: 'Merienda';font-size: 22px;color:red;
}
.butn {
	height:35px;
	width:78px;
}
.hundred-per {
	width:100%;
}
.label:hover {
	transition-duration: 1.1s;
	background-color:#4a4443;
	color:white;
}
.space {
	margin: 2px 0px;
}
.dropdown {
	background:#343a40;
}
.item {
	color:white;
}
.item:hover {
	transition-duration: 0s;
	background:#c9c5c9;
}
.navbar-nav, .navbar-brand {
	margin-left: 1em;
}
